.mapApp{
  height: 100vh;
  width: 100vw;
}

.map-container {
/*  height: 50vh;*/
/*  width: 50vw;*/
height: 30vh;
width: 60vw;
  position: relative;
}

select {
  width: 90%;
  font-size: 0.8em;
}

button{
  border-radius:6px;
  font-size: 0.8em;
}

#restoSelect{
  display: inline;
}

.restoBlock{
  margin: 0;
  padding: 10px;
}