html{
/*  height: 100%;*/
}

.theBody {
/*  min-height: 100%;*/
/*  padding-top: 92px;*/
    height: 100vh;
/*  margin: 0;*/
   display: flex;
   flex-direction: column;
/*overflow: hidden;*/
}

@media only screen and (max-width: 550px){
  .theBody{
/*    padding-top: 62px;*/
  }
}

@font-face{
   font-family: 'BailamoreFPU';
   src: local('BailamoreFPU'), url(../fonts/BailamoreFPU.ttf) format('truetype');
}
.lineBreak {
    white-space: pre-line;
}

