
.theBody {
/*  min-height: 100%;*/
/*  padding-top: 92px;*/
  height: 100vh;
/*  margin: 0;*/
   display: flex;
   flex-direction: column;
/*overflow: hidden;*/
}

@media only screen and (max-width: 550px){
  .theBody{
/*    padding-top: 62px;*/
  }
}

.lineBreak {
    white-space: pre-line;
}