.ratingBack{
	background-color: #000;
/*	background-size: contain;*/
/*	background-position: 0px 92px;*/
	height: 100%;
	width: 100%;
}

/*========= Rating Header ====== */
.ratingIntro{
	position: relative;
	background-color: rgba(246, 232, 111, 0);
	margin: 15% 15% 0 15%;
	justify-content: center;
	text-align: center;
	padding-top: 6%;
	color:#fff;
}

/* .ratingHeading{ */
/*	text-align: center !important;*/
/* } */

/*========= rating block ===== */
.ratingSection{
	position: relative;
/*	text-align: center;*/
	justify-content: center;
	margin: 5% 17% 10% 17%;
}

.hideRatingBlock{
	display: none;
}
.showRatingBlock{
	display: block;
}
.ratingBlock{
	/*position: relative;
	justify-content: center;
	margin: 5% 17% 10% 17%;*/
	flex-wrap: wrap;
/*	flex-direction: row;*/
	background-color: #401705;
/*	border: solid 2px #605f5f;*/
	border-radius: 8px;
	width: auto;
	height: auto;
/*	text-align: center;
	text-justify: center;*/
	padding:2%;
/*	color: #c10505;*/
/*	margin: 2%;*/
/*	display: block;*/
}
.noRatingBlock{
	display: none;
	visibility: none;
}

.chart-container{
	margin-top: 5%;
	position: relative;
	justify-content: center;
	text-align: center;
  	height: 100vh;
  	width: auto;
  	color: #fff;
}
@media only screen and (max-width: 550px){
/*	.ratingIntro{*/
	/*position: relative;
	background-color: rgba(246, 232, 111, 0);*/
/*	margin: 10%;*/
/*	width: 90%;*/
	/*text-align: left;
	padding: 10px;
	color:#fff;*/
/*	}*/

	.chart-container{
	margin: 8% 0% 8% 0%;
	position: relative;
	justify-content: center;
  	height: 100vh;
/*  	width: 60vw;*/
	width: auto;
  	white-space: initial ;
	}

}
