.reportBack{
	background-color: #000;
	background-size: contain;
	background-position: 0px 92px;
	background-attachment: fixed;
	height: 100%;
}

/*================== Report Header ============*/
.reportIntro{
	position: relative;
	background-color: rgba(246, 232, 111, 0);
	margin: 11% 15% 0 15%;
	justify-content: center;
	text-align: left;
	padding-top: 6%;
	color:#fff;
}
.reportHeading{
	text-align: center !important;
}

.reportButtBlock{
	text-align: center;
}
.reportButtBlock button{
	margin: 5%;
}

/*================== Report Main Page =============*/
.reportSection{
/*	display: inline-block;*/
	position: relative;
/*	text-align: center;*/
	justify-content: center;
	margin: 5% 17% 10% 17%;
/*	height: 100%;*/
/*	color: green;*/
}
@media only screen and (max-width: 550px){
	.reportPage{
		margin: 5% 7% 10% 7%;
	}

}

.reportForm{
/*	text-align: center;*/
	justify-content: center;

}
/*========== StarRating component ============*/
.starBack{
	display: block;
	flex-wrap: wrap;
/*	flex-direction: row;*/
	background-color: #401705;
/*	border: solid 2px #605f5f;*/
	border-radius: 8px;
	width: auto;
	height: auto;
	text-align: center;
	text-justify: center;
	padding:2%;
	color: #c10505;
	margin: 2%;
/*	display: block;*/
}
.star-rating{
	display: inline;
}
.buttonBack{
	text-align: center;
	margin: 5%;
}
.reportSubmitButton {
/*	display: inline-block;*/
  background-color: red;
  border: 2px solid red;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
  color: #000;
  padding: 2% 12% 2% 12%;
  margin: 	;
  width: 55%;
  height: 15%;
  font-size: 1.3em;
}

.btn-primary, .btn-primary:focus{
	background-color: transparent !important;
	border: none !important;
	box-shadow: none !important;
}

.btn:hover{
	color: #ffd500;
}
.starOn{
	color: #ffd500;
}
.starOff{
	color: #fff;
}

.ratingComm{
	font-style: italic;
	color: #ff8f00;
	margin-top:1%;
	margin-bottom: 1%;
/*	margin: 0% 3% 1% 3%;*/
/*	overflow-wrap:break-word;*/
/*	word-break: break-all;*/
}

.ratingLabel{
	margin: 3% 3% 0% 3%;
	font-size: 1.4em;
	text-align: center;
}

textarea{
	width: 95%;
	height: 20vh;
	margin:2%;
	font-size: 11pt;
	left: 5px;
}

h2{
	color:#00ffdb;
	margin: 3% 3% 0% 3%;
/*	padding-left: 30%;*/
}

.ramenType{
	display: flex;
/*	vertical-align: middle;*/
	flex-flow: column wrap;
	align-content: center;
	height: 20%;
	padding-bottom: 5%;
}

.ramenType > label {
	padding: 2%;
}

input {
	width:  90%;
	font-size: 0.7em;
}

/*.button{
	margin: 0% 5% 0% 5%;
	border-color: #000;
	width: 50%;
	resize: both;
	overflow: auto;
}*/

/*.toKnow{
	background-color: #FF9908;
}
.toKnow:hover{
	background-color: rgba(255,214,155,1);
	border: #000;
}*/

/*.toReport{
	background-color:  #dd1616 !important;
		border: #000;
}
.toReport:hover{
	background-color: rgba(234,98,98,1);
	border: #000;
}*/
