.bannerBack{
	height: 100vh;
	flex-grow: 1;
	position: relative;
	display: block;
}


.banner{
	position: relative;
	background-color: #572008;
	width: 100%;
	text-align: center;
	padding: 10%;
	color: #f0bf0e;
	margin-top:10%;
}

.bannerHeading{
	text-align: center;
}