.rootLayout{
/*    height: 100%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
}

header{
}

/*--------- Navbar stylings ----------*/
.myNav{
  margin: 0px;
/*  padding: 5%;*/
   background-color: #572008;
   display: flex;
}

#theHeaderContainer {
/*  flex: none;*/
  background-color: #572008;
  margin: 0 auto !important;
}

.navbar-brand{
  margin: 0;
}
.navbar-brand.active{
  border: 2px solid  #dd1616f0;
  border-radius: 55px;
}

#my-navbar-icon:focus{
  border: 2px solid  #dd1616f0;
  border-radius: 9px;
  box-shadow: none;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(245, 226, 39, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbar-toggler:focus{
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width) #dd1616f0;
}

.header-title{
  display: inline-flex;
  color: #fff;
  padding: 0px 10px 0px 15px;
  /*justify-content: center;
  align-items: center;
  text-align: center;*/
  font-size: 1.5em;
}
@media only screen and (max-width: 550px){
    .header-title{
      font-size: 1em;
    }
}

.logo-title{
  display:flex;
  align-items: center;
}

.header-logo {
  height: 10vmin;
}

.myMenu{
  padding-right:10px;
}

.myLinks {
  color: #f0bf0e !important;
  text-align:center;
  text-decoration: none;
}
.nav-link {
  background-color:  none;
  color: #f0bf0e !important;
  text-align:center;
  text-decoration: none;
}
.nav-link.active {
/*  background-color: #dd1616f0;*/
  border: 2px solid  #dd1616f0;
  border-radius: 9px;
}

#knowLink{
  background-color:  none;
  color: #f0bf0e !important;
  text-align:center;
  text-decoration: none;
  padding: 0.5em;
}

.knowActive, .homeActive{
  border: 2px solid  #dd1616f0;
  border-radius: 9px;
}




@media only screen and (min-width: 1100px){
    .myLinks{
      font-size: 1.2em;
    }
}
@media only screen and (max-width: 770px){
    .myLinks{
      text-align: right;
    }
}
/*----------- main content*/
main{
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  flex: auto;
  height:100%;
}

/*----------- buttons to go to Know or to Report ---------*/
.button{
  margin: 0% 5% 0% 5%;
  border-color: #000;
  width: 50%;
/*  resize: inherit;*/
  overflow: auto;
}

.toKnow{
  background-color: #FF9908;
  border: #000;
}
.toKnow:hover{
  background-color: rgba(255,214,155,1);
  border: #000;
}

.toReport{
  background-color:  #dd1616 !important;
  border: #000;
}
.toReport:hover{
  background-color: rgba(234,98,98,1);
  border: #000;
}

.dropdown-menu{
  left: -39px !important;
  background-color: #572008 !important;
  border: 1px solid #752b0a;
  border-top: none;
  padding-top: 0;
  padding-bottom: 0px;
  height: auto;

}
#userDropMenu{
/*  transform: -10px 40px;*/
  color: #f0bf0e;
  display: block;
  text-align: center;
  border: solid 0.5px #f0bf0e;
  border-radius:6px;
}
.userStatNum{
  color: #00e7ff;
}